/*===========================TASK 2==========================*/
.card-form-container {
	border-radius: 15px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	padding: 30px;
	width: 400px;
	text-align: center;
	position: relative;
	left: 40%;	
	justify-content: center;
	/*Task: Update background colour*/
	background-color: #ece5e5;
	margin: 0;
}
.card-form-container h2 {
	margin-bottom: 20px;
}
.card-form-container p {
	/*Task: Update theme colours*/
	color: #d80000;
	margin-bottom: 20px;
}
.card-form-container input {
	width: 100%;
	padding: 10px;
	margin-bottom: 15px;
	/*Task: Update theme colours*/
	border: 1px solid #b00505;
	border-radius: 5px;
	box-sizing: border-box;
}

.card-form-container .close {
    position: absolute; 
    top: 0; 
    right: 0; 
    height: 50px;
    width: 50px;
	/*Task: Update theme colours*/
    background-color: red;
    cursor: pointer;
}