/*===========================TASK 2==========================*/
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
    font-family: "Montserrat", sans-serif;
}

li, a, button, .logo {
	font-weight: 500;
	font-size: 16px;
    color: black;
	text-decoration: none;
}

header {
	position: relative;
	display: flex;
	justify-content: space-between;
    align-items: center;
	padding-top: 30px;
	padding-bottom: 30px;
	padding-left: 3%;
	padding-right: 3%;
	width: 100%;
    /*Task: Update theme colours*/
    background-color: #37afeb
}

header .tickets{
    /*Task: Update theme colours*/
    position: relative; 
    background-color: rgb(56, 61, 157); /* Button background color */
    border: none;
    border-radius: 50%; /* Round the button */
    color: rgb(0, 0, 0); /* Text color */
    cursor: pointer;
    display: flex; /* Align text inside the button */
    text-decoration: none;
    padding: 15px 25px; 
}

header .tickets:hover{
    /*Task: Update theme colours*/
	background-color: rgb(47, 150, 240); 
}

.nav_links {
	list-style: none;
    display: flex;
	justify-content: flex-end;
    margin: 0;
    padding: 0;
}

.nav_links li {
	display: inline-block;
    padding: 0 20px;
}

.nav_links li a {
	transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
	color: #0088A9;
}

.logo {
    position: relative; /* Position relative to the container */
    margin-right: auto;
}

#hero-section {
    padding: 50px; /* Padding between the navbar and main content */
    height: 100vh; /* full viewport display */
    /*Task: Update theme colours*/
    background-color: #bcd2fb;
	background-size: 100% 100%;
    flex-direction: column;
    flex: content;
    align-content: center;
}

#hero-section p {
	font-size: 20px;
	color: white;
	text-align: center;
}

#link1-section {
	padding: 30px;
    height: 100vh;
    /*Task: Update theme colours*/
    background-color: #69c1df;
    flex-direction: column;
    flex: content;
    align-content: center;
	font-size: 24px;
	text-align: center;
}

#link1-section img {
	height: 60%;
    align-content: center;
}

#footer{
	padding: 30px;
    /*Task: Update theme colours*/
    background-color: #245bda;
	background-position: top;
	background-size: 100% 100%;
    flex-direction: column;
    flex: content;
    align-content: center;
	text-align: center;
}

#hero-section h1,#bottom-section h1 {
    padding-bottom: 10px;
	padding-top: 40px;
	font-size: 70px;
	text-align: center;
}

.section {
    padding: 50px;
    height: 100vh;
}
.image-section {
    display: flex;
    align-items: center; /* Centers vertically */
    justify-content: center; /* Centers horizontally */
    width: 100vw; 
    height: 20vh; 
    /*Task: Update theme colours*/
	background-color: #bcd2fb;
}
.image-section img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain; /* Ensures the image fits within the container */
	position: relative; /* Use absolute positioning */
    top: -500px; /* Move up by 500px */
}
/*===========================TASK 2==========================*/